{{page-title "Edit"}}
<div>
  <AuHeading @level="3" @skin="3">
    Pas Persoon Aan
  </AuHeading>
  TODO: If only we could render a form here to edit a person...
</div>
<div class="au-u-margin-top">
  <AuHeading @level="3" @skin="3">
    Historiek
  </AuHeading>

  TODO: Once we have the form, maybe we can show some history and allow the user
  to view/restore the previous versions of the person.
</div>
