{{page-title "New Person"}}
<AuToolbar @border="bottom" @size="large" as |Group|>
  <Group>
    <AuHeading @skin="2">Add a new Person</AuHeading>
  </Group>
</AuToolbar>

<div class="au-o-box">
  TODO: Let's render a form here! We want to create a person...
</div>
{{outlet}}
